/* top */
thead.shadoze tr, thead.shadoze {
	height : 2px;
}
/* right */
colgroup.shadoze col.shadoze.right {
	width : 7px;
}
/* bottom */
tfoot.shadoze tr, tfoot.shadoze {
	height : 8px;
}
/* left */
colgroup.shadoze col.shadoze.left {
	width : 3px;
}

thead.shadoze td.left {
	background : url("corner-top-left.png") no-repeat top left;
}
thead.shadoze td.center {
	background : url("top2.png") no-repeat top left;
}
thead.shadoze td.right {
	background : url("corner-top-right.png") no-repeat top right;
}

tbody.shadoze td.left {
	background : url("left2.png") no-repeat top left;
}
tbody.shadoze td.center { }
tbody.shadoze td.right {
	background : url("right2.png") no-repeat top right;
}

tfoot.shadoze td.left {
	background : url("corner-bottom-left.png") no-repeat bottom left;
}
tfoot.shadoze td.center {
	background : url("bottom2.png") no-repeat bottom left;
}
tfoot.shadoze td.right {
	background : url("corner-bottom-right.png") no-repeat bottom right;
}

.mapServicesFlyout {
	text-align:left;
	position:relative;
	border:1px solid black;
	border-top:0px;
	padding-top:20px;
	padding-right:6px;
	padding-bottom:10px;
	padding-left:10px;
	background-color:#FFFFFF;
	color: #000000;
	left	: 0px;
	top	: 0px;
}

.mapServicesFlyout.config {
	padding: 10px 0px 0px 10px;
}

.mapServicesFlyout a,
.mapServicesFlyout a.visited,
.mapServicesFlyout a.hover {
	color:#B3B3B3;
}

.mapServicesFlyout strong {
	color:#000000;
}

.mapServicesFlyout input {
	/* overwrite design css */
	color: #000000 !important;
	padding: 2px !important;
	border: 1px solid rgb(0,0,0) !important;
	border-radius: 0px !important;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 3px;
}

.mapServicesInfoBoxContainer {
	padding	: 10px;
	color	: #888888;
	background-color: #FFFFFF;
	width:200px;
	min-height:100px;
	border : 1px solid #888888;
	line-height : 12px;
}

.mapServicesInfoBoxContainer div.title {
	margin	: 10px 0px 5px 0px;
	text-align:left;	
	font-weight	: bold;
	line-height : 12px;
}

.mapServicesContactData {
	text-align:left;	
	line-height : 12px;
}

.mapServicesContactData a {
	color:#676767;
}
.mapServicesContactData a:hover {
	color:#000000;
}
.mapServicesContactData a:visited {
	color:#676767;
}



